section#biomodels {

	margin-top: 3%;
	margin-bottom: 25%;

}

section#biomodels h2 {

	font-size: 2em;
	text-align: center;

}

div.each_biomodel {

	clear: both;
	padding: 10px;

}

div.each_biomodel h3 a {

	color: #333;

}

div.each_biomodel h3 a:hover {

	color: #ff0000;
	text-decoration: underline;

}

div.each_biomodel img {

	float: left;
	margin-right: 25px;
	margin-bottom: 10px;
	max-width: 640px;

}

div.each_biomodel img:hover {

	border: 2px solid #ff0000;
	border-radius: 4px;

}

div.each_biomodel p {

	padding: 10px;

}

span.each_biomodel_description {

	border: 2px solid #333;
	border-radius: 8px;
	padding: 10px;
	display: inline-block;

}

p.trainer_price {

	font-weight: bold;
	color: #aaa;

}

button.add_to_cart {

	font-size: 1.2em;
	padding: 5px;
	color: #333;
	background-color: #fff;
	cursor: pointer;

}

p.cart_alert {

	color: red;
	display: none;

}

p.trainer_link {

	clear: both;

}

p.trainer_link a {

	font-weight: bold;
	color: #ff0000;

}

p.trainer_link a:hover {

	color: rgba(255, 0, 0, 0.5);
	text-decoration: underline;

}

section.biomodel {

	margin-top: 3%;
	margin-bottom: 25%;

}

section.biomodel h3 {

	text-align: center;

}

section.biomodel h4 {

	font-size: 1.2em;

}

img.biomodel_main {

	display: block;
	margin: 0 0 25px 0;
	max-width: 100%;

}

img.biomodel_img {

	cursor: pointer;
	height: 50px;

}

img.biomodel_img:hover {

	border: 2px solid #2b285f;
	border-radius: 4px;

}

.current_img {

	border: 2px solid #ff0000;
	border-radius: 4px;

}

.biomodel-col-2 {

	padding: 10px;

}

@media (min-width: 768px) {

	.biomodel-col-2 {

		width: 50%;
		float: left;

	}

}

@media (max-width: 767px) {

	.biomodel-col-2 {

		width: 100%;

	}

}

/*** Admin components ***/

h1.biomodel_add {

	text-align: right;
	color: #ff0000;
	border: 2px solid #ff0000;
	padding: 5px;
	cursor: pointer;

}

h1.biomodel_add:hover {

	background-color: #2b285f;

}

h1.biomodel_add:active {

	border: 1px solid #fff;

}

button.delete_biomodel {

	border: none;
	background-color: #ff0000;
	color: #fff;
	font-size: 1.25em;
	padding: 5px;
	cursor: pointer;

}

button.delete_biomodel:hover {

	color: #333;

}

button.delete_biomodel:active {

	border: 1px solid #2b285f;

}

section.new_biomodel {

	padding: 10px;
	margin: 50px auto;
	width: 90%;

}

section.new_biomodel input, textarea {

	width: 100%;
	margin-bottom: 10px;
	padding: 5px;
	font-size: 1.2em;

}

button.add_biomodel_photos {

	color: #fff;
	background-color: #2b285f;
	font-size: 1.25em;
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;

}

button.save_biomodel, button.add_biomodel_photo {

	color: #333;
	background-color: #fff;
	font-size: 1.25em;
	padding: 5px;
	text-align: center;
	margin-bottom: 10px;

}

section.new_biomodel div {

	margin: 10px;
	float: left;

}

section.new_biomodel div i {

	float: right;
	color: red;
	cursor: pointer;

}

section.new_biomodel div i:hover {

	color: rgba(255, 0, 0, 0.5);

}

/*** End of Admin components ***/