section.quote {

	font-size: 1.25em;
	color: #333;

}

blockquote {

	border-left: 5px solid #eee;
	margin: 0 0 20px;
	padding: 10px 20px;

}

section.news_with_text {

	margin-bottom: 5%;
	padding-bottom: 5%;
	border-bottom: 1px solid #2b285f;

}

section.news_with_text:last-child {

	margin-bottom: 25%;

}

section.news {

	position: relative;
	clear: both;

}

@media (min-width: 768px) {

	div.news_td {

		position: absolute;
		top: 5%;
		left: 0;

	}

}

div.news_td h3 {

	margin: 0;
	margin-top: 2px;
	padding: 5px;
	background-color: rgba(43, 40, 95, 0.75);
	color: #fff;
	font-size: 1.5em;

}

img.news_img {

	cursor: pointer;

}

a.news_link {

	position: absolute;
	bottom: 25%;
	right: 0;
	padding: 5px;
	font-size: 1.5em;
	color: #fff;
	text-decoration: none;
	background-color: rgba(255, 0, 0, 0.75);

}

a.news_link:hover {

	text-decoration: underline;

}

a.mob_news_link {

	padding: 5px;
	color: #fff;
	text-decoration: none;
	background-color: rgba(255, 0, 0, 1);

}

a.mob_news_link:hover {

	text-decoration: underline;

}

div.news_dots {

	position: absolute;
	bottom: 5%;
	right: 0;
	padding: 25px;

}

div.news_dots i {

	color: #fff;
	font-size: 1.25em;
	padding-right: 5px;
	cursor: pointer;

}

/*** Admin components ***/
h1.news_add {

	text-align: right;
	color: #ff0000;
	border: 2px solid #ff0000;
	padding: 5px;
	cursor: pointer;

}

h1.news_add:hover {

	background-color: #2b285f;

}

h1.news_add:active {

	border: 1px solid #fff;

}

button.news_remove {

	float: right;
	border: none;
	background-color: #ff0000;
	color: #fff;
	font-size: 1.25em;
	padding: 5px;
	cursor: pointer;

}

button.news_remove:hover {

	color: #333;

}

button.news_remove:active {

	border: 1px solid #2b285f;

}

section.news_form {

	margin: 0 0 75px 0;
	padding: 25px;
	text-align: center;

}

section.news_form input {

	width: 80%;
	font-size: 1.2em;
	color: #333;
	padding: 5px;
	margin-bottom: 10px;

}

section.news_form input.checkbox {

	width: 5%;

}

.news_add_photo {

	background-color: #2b285f;
	color: #fff;
	font-size: 1.2em;
	padding: 5px;
	margin-bottom: 10px;
	clear: both;

}

.news_save {

	background-color: #fff;
	color: #333;
	font-size: 1.2em;
	padding: 5px;
	margin-bottom: 10px;
	clear: both;

}

.add_photo {

	background-color: #fff;

}

.news_added_photo {

	margin: 10px;
	float: left;

}

.news_added_photo i {

	float: right;
	color: red;
	cursor: pointer;

}

.news_added_photo i:hover {

	color: rgba(255, 0, 0, 0.5);

}